body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

main {
    margin-bottom: 20px;
}

h1,
h2,
h3 {
    font-family: 'Amatic SC', cursive;
    color: green;
}

#form {
    width: fit-content;
    height: 80px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

#searchInput {
    width: 200px;
    vertical-align: middle;
}


#search-input {
    padding-left: 8px;
}

label[for="search-input"] {
    background-color: lightgrey;
    color: #000;

    /* adjust top and bottom padding */
    height: 46px;
    /* set the same height as the input and button */
    display: flex;
    /* align items vertically */
    align-items: center;
    /* center items vertically */
}



#searchButton,
#search-input,
#search-input label {
    height: 50px;
    font-size: 24px;
    border: none;

}

input[type="text" i] {
    padding: 0px;
}

searchType {
    font-size: 30px;
}

.no-border {
    border: none;
}

#results {

    margin: auto;
    text-align: center;
}

.results-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px green;
    margin-top: 20px;
    color: black;
}

.result {
    margin-bottom: 20px;
}

.result-header {
    font-size: 30px;
    font-weight: bold;
}

.result-subheader {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.result-text {
    font-size: 18px;
    margin-top: 10px;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#main-header img {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: block;
}

#main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-footer p {
    margin: 0;
}

#main-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#main-footer li a {
    color: #fff;
    margin-right: 10px;
}

#pagination-container {
    display: none;
}


label,
select,
input,
button {

    font-size: 26px;
}

ul {
    list-style: none;
}

.similar-artist {
    width: 250px;
    height: 250px;
    margin: 30px;
    /* increase margin to add space between artists */
    padding-bottom: 50px;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    /* border: 4px solid transparent; */
    /* add transparent border */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;

}

.similar-artist:hover {
    transform: scale(1.1);
    /* replace with the scale you want */
    border: 3px green solid;

}

.similar-artist img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.similar-artist p {
    font-size: 16px;
    /* adjust font size for the artist name */
    margin-top: 10px;
    /* add margin to separate name from image */


}

.similar-artists-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
    grid-gap: 25px;
}

.similar-artists-list li {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    height: fit-content;
    position: absolute;
}

.artist-image {
    height: 160px;
    width: 160px;
}

.page-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px;
}

.page-buttons a {
    background-color: #fff;
    border: 1px solid green;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.active {
    background-color: green;
    color: #fff;
}

#search-container {
    position: relative;
}

#back-button {
    position: absolute;
    top: 0;
    left: 0;
}